In [1]:
import numpy as np
import pandas as pd

In [2]:
subs = pd.read_csv('C:/Users/ACER/Desktop/DSMP1/Datasets/datasets-session-16/subs.csv').squeeze()

subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [3]:
# With 2 Column

vk = pd.read_csv('C:/Users/ACER/Desktop/DSMP1/Datasets/datasets-session-16/kohli_ipl.csv' , index_col='match_no').squeeze()

print(vk)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [4]:
movies = pd.read_csv('C:/Users/ACER/Desktop/DSMP1/Datasets/datasets-session-16/bollywood.csv' , index_col='movie').squeeze()

print(movies)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

### Some Important Series Methods

In [6]:
# astype

import sys

sys.getsizeof(vk)

3472

In [7]:
sys.getsizeof(vk.astype('int16'))

2182

In [10]:
# between

vk[vk.between(51,99)].size

43

In [15]:
# clip

subs.clip(100,200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [20]:
# drop_duplicates


temp = pd.Series([1,1,2,2,3,4,5,6,6,7,7,7])

temp.drop_duplicates(keep='last')

1     1
3     2
4     3
5     4
6     5
8     6
11    7
dtype: int64

In [26]:
vk.duplicated().sum()

np.int64(137)

In [25]:
temp.duplicated().sum()

np.int64(5)

In [ ]:
movies.drop_duplicates()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Sssshhh...                              Tanishaa Mukerji
Rules: Pyaar Ka Superhit Formula                  Tanuja
Right Here Right Now (film)                        Ankit
Talaash: The Hunt Begins...                Rakhee Gulzar
The Pink Mirror                          Edwin Fernandes
Name: lead, Length: 566, dtype: object

In [31]:
temp = pd.Series([1, 2, 3, np.nan, 5, 6, np.nan, 8, np.nan, 10])

temp.count()

np.int64(7)

In [34]:
# isnull

temp.isnull().sum()

np.int64(3)

In [35]:
# dropna

temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [38]:
# fillna

temp.fillna(temp.mean())

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     5.0
7     8.0
8     5.0
9    10.0
dtype: float64

In [43]:
# isin

vk[vk.isin([49,99])]

match_no
82    99
86    49
Name: runs, dtype: int64

In [ ]:
# apply

movies.apply(lambda x:x.split()[0].upper())  # To build custom logic

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [49]:
subs.apply(lambda x:'Good Day' if x > subs.mean() else 'Bad Day')

0       Bad Day
1       Bad Day
2       Bad Day
3       Bad Day
4       Bad Day
         ...
360    Good Day
361    Good Day
362    Good Day
363    Good Day
364    Good Day
Name: Subscribers gained, Length: 365, dtype: object

### Copy and View

In [ ]:
# view

new = vk.head()
new[2] = 500
new

match_no
1      1
2    500
3     13
4     12
5      1
Name: runs, dtype: int64

In [59]:
vk

match_no
1        1
2      500
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64

In [ ]:
# copy

new = vk.head().copy()
new[1] = 100

In [66]:
new

match_no
1    100
2    500
3     13
4     12
5      1
Name: runs, dtype: int64

In [67]:
vk

match_no
1        1
2      500
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64